.App {
  text-align: center;
}
.App form{
  padding: 20px;
  background-color: #e9e9eb;
  position: fixed;
  bottom: 0;
  width: 95%;
  z-index: 1;
  margin: 20px;
}

.App img{
  height: 25%;
  width: 25%;
  text-align: center;
}

.app__formControl{
  display: flex !important;
  flex-direction: row  !important;
}

.app__input{
  flex: 0.95;
}

.app__IconButton{
  flex: 0;
}